body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.index {
  width: 100%;
  height: auto;
}
.title {
  width: 100%;
  height: 40px;
  background-color: #cce8cf;
  color: #1d1128;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.title i {
  font-weight: 900;
  font-size: 20px;
  margin-left: 8px;
}
.box {
  width: 100%;
  padding: 14px 10px;
  box-sizing: border-box;
}
.banner {
  padding: 14px 10px 0;
  position: relative;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
}
.img {
  width: calc(100% - 20px);
  height: 146px;
  background-color: #d8d8d8;
  border-radius: 10px;
  position: absolute;
  top: 14px;
  left: 10px;
  opacity: 0;
}
.img.active {
  opacity: 1;
}
.img:nth-child(2) {
  background-color: #cdead0;
}
.img:nth-child(3) {
  background-color: #67656e;
}
.img:nth-child(4) {
  background-color: red;
}
.left {
  position: absolute;
  z-index: 2;
  color: #fff;
  left: 20px;
  top: calc(100% / 2);
}
.right {
  position: absolute;
  color: #fff;
  z-index: 2;
  right: 20px;
  top: calc(100% / 2);
}
.list {
  width: 52px;
  height: 10px;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: calc((100% - 52px) / 2);
}
.l_items {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #67656e;
  float: left;
  margin-right: 6px;
}
.l_items.active {
  background-color: #fff;
}
.l_items:last-child {
  margin-right: 0;
}
.recomm {
  margin-top: 37px;
  overflow: hidden;
  padding-left: 10px;
}
.r_title {
  color: #1d1128;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.r_title:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 16px;
  background: #cce8cf;
  border-radius: 1px;
  color: #cce8cf;
  margin-right: 10px;
}
.r_list {
  width: 100%;
  height: 179px;
  overflow-x: scroll;
}
.r_box {
  width: 180%;
  height: 100%;
}
.r_items {
  width: calc(20% - 10px);
  height: 169px;
  background: #d8d8d8;
  border-radius: 10px;
  margin-right: 10px;
  float: left;
  margin-bottom: 10px;
}
.r_items:last-child {
  margin-right: 0;
}
.d_list {
  width: 100%;
  height: 110px;
  overflow-x: scroll;
}
.d_box {
  width: 200%;
  height: 110px;
}
.d_items {
  width: 25%;
  height: 45px;
  float: left;
  margin-bottom: 10px;
}
.portrait {
  width: 45px;
  height: 45px;
  background-color: #d8d8d8;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
.d_intr {
  color: #66646d;
  font-size: 14px;
}
.navigation {
  width: 100%;
  height: 62px;
  border-top: 1px solid #e9e9e9;
  box-sizing: border-box;
  margin-top: 37px;
}
.nav {
  display: block;
  width: 25%;
  float: left;
  font-size: 12px;
  color: #67656e;
  text-decoration: none;
  height: 100%;
  text-align: center;
}
.nav.active {
  color: #cdead0;
}
.nav i {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 10px 0 6px 0;
}
